* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

select:focus {
  box-shadow: none;
  outline: none;
}

.sidebar {
  width: 60%;
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  left: -100%;
  transition: all 0.4s ease;
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 80%;
  }
}

.sidebar .logo {
  text-align: center;
  padding: 15px 0;
}

.sidebar .logo img {
  width: 7em;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar ul li {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.sidebar ul li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition-delay: 0.4s;
  display: block;
  transform: translateX(-40px);
}

.sidebar ul li a:hover {
  color: black;
  text-decoration: none;
}

.sidebar ul li a.first {
  transition: all 1s ease;
}

.sidebar ul li a.second {
  transition: all 1.6s ease;
}

.sidebar ul li a.third {
  transition: all 2.2s ease;
}

.sidebar ul li a.fouth {
  transition: all 2.8s ease;
}

.sidebar.sidebar_active {
  left: 0;
}

.sidebar.sidebar_active a {
  transform: translateX(0px);
}

header {
  height: 13vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 600px) {
  header {
    height: 10vh;
  }
}

header .header_overlay {
  display: none;
  position: relative;
  width: 80%;
}

header .header_overlay i {
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
}

header .header_overlay img {
  width: 7em;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  header .header_overlay {
    display: block;
  }
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: circle inside none;
}

@media screen and (max-width: 1000px) {
  header ul {
    display: none;
  }
}

header ul li {
  margin: 0 13px;
}

header ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

header ul li a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

header ul img {
  width: 10em;
  object-fit: cover;
  margin: 0 35px;
}

.hero_banner {
  background-image: url("../images/web.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 900px) {
  .hero_banner {
    height: 120vh;
  }
}

.hero_banner .inner_box {
  max-width: 650px;
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.7);
}

.hero_banner .inner_box h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .hero_banner .inner_box h3 {
    font-size: 17px;
  }
}

.hero_banner .inner_box p {
  font-weight: 600;
  margin: 5px 0;
  font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 600px) {
  .hero_banner .inner_box p {
    font-size: 13px;
  }
}

.hero_banner .inner_box button {
  background: #00746B;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  margin-top: 6px;
}

.hero_banner .inner_box button:hover {
  background: #01b9aa;
}

.hero_banner .inner_box_2 {
  margin-top: 30px;
  min-width: 1000px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .hero_banner .inner_box_2 {
    min-width: 800px;
  }
}

@media screen and (max-width: 1100px) {
  .hero_banner .inner_box_2 {
    min-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .hero_banner .inner_box_2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.hero_banner .inner_box_2 .first {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .hero_banner .inner_box_2 .first {
    flex-direction: column;
    align-items: center;
  }
}

.hero_banner .inner_box_2 .first .icon_bar {
  margin-left: 20px;
  text-align: center;
  color: #00746B;
  position: relative;
  top: 6px;
}

@media screen and (max-width: 1200px) {
  .hero_banner .inner_box_2 .first .icon_bar {
    margin-left: 2px;
  }
}

.hero_banner .inner_box_2 .first .icon_bar i {
  font-size: 35px;
}

.hero_banner .inner_box_2 .first .icon_bar h6 {
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .hero_banner .inner_box_2 .flex_system {
    margin: 10px 0;
  }
}

.hero_banner .inner_box_2 .flex_system h4 {
  font-size: 22px;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .hero_banner .inner_box_2 .flex_system h4 {
    font-size: 17px;
  }
}

.hero_banner .inner_box_2 .flex_system form {
  min-width: 320px;
  display: flex;
}

.hero_banner .inner_box_2 .flex_system form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 7px 15px;
}

.hero_banner .inner_box_2 .flex_system form button {
  background: #00746B;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  margin-left: 6px;
}

.hero_banner .inner_box_2 .flex_system form button:hover {
  background: #01b9aa;
}

.hero_banner .inner_box_2 h5 {
  font-weight: normal;
  position: relative;
  right: 20px;
}

@media screen and (max-width: 900px) {
  .hero_banner .inner_box_2 h5 {
    position: unset;
    right: unset;
  }
}

.hero_banner .icon_animating {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hero_banner .icon_animating i {
  font-size: 35px;
  color: #00746B;
  cursor: pointer;
  animation: up_down 1s linear infinite alternate-reverse;
}

@keyframes up_down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.post_area img {
  height: 35vh;
  object-fit: cover;
  width: 100%;
}

.post_area h4 {
  margin-top: 10px;
}

.post_area p {
  text-align: justify;
}

.post_area button {
  background: #00746B;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 10px 30px;
}

.post_area button:hover {
  background: #01b9aa;
}

@media screen and (max-width: 900px) {
  .post_area button {
    position: unset;
  }
}

.booking_btn {
  margin-top: 70px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 900px) {
  .booking_btn {
    border: none;
  }
}

.booking_btn button {
  border: 1px solid black;
  color: #00746B;
  background: transparent;
  outline: none;
  padding: 9px 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

.booking_btn button i {
  font-size: 26px;
}

.booking_btn button:hover {
  color: white;
  background: #00746B;
  border: 1px solid white;
}

.booking_btn button:hover i {
  color: white;
}

.footer_area {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1px;
  height: 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .footer_area {
    height: 100%;
    padding: 10px;
  }
}

.footer_area .footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .footer_area .footer_flex {
    flex-direction: column;
  }
}

.footer_area .footer_flex ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: circle inside none;
}

@media screen and (max-width: 1000px) {
  .footer_area .footer_flex ul {
    flex-direction: column;
    list-style: none;
  }
}

.footer_area .footer_flex li {
  margin: 0 13px;
}

@media screen and (max-width: 900px) {
  .footer_area .footer_flex li {
    margin: 10px 0;
  }
}

.footer_area .footer_flex li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.footer_area .footer_flex li a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.footer_banner {
  height: 30vh;
  background-image: url("../images/web3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer_banner .footer_flex {
  display: flex;
  justify-content: space-between;
  color: white;
}

@media screen and (max-width: 900px) {
  .footer_banner .footer_flex {
    flex-direction: column;
    align-items: center;
  }
}

.footer_banner .footer_flex .img_1 {
  width: 35em;
}

@media screen and (max-width: 600px) {
  .footer_banner .footer_flex .img_1 {
    width: 25em;
  }
}

.footer_banner .footer_flex .img_2 {
  width: 12em;
}

@media screen and (max-width: 600px) {
  .footer_banner .footer_flex .img_2 {
    width: 8em;
  }
}

.footer_banner .footer_flex .banner_icons {
  margin-top: 10px;
}

.footer_banner .footer_flex .banner_icons i {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}

@media screen and (max-width: 600px) {
  .footer_banner .footer_flex .banner_icons i {
    margin: 0 5px;
  }
}

.footer_banner .footer_flex .banner_icons i:hover {
  color: #00746B;
  transform: translateY(-5px) scale(1.1);
}

.hero_banner.about_page {
  background-image: url("../images/web4.jpg");
  height: 80vh;
  align-items: flex-start;
  padding: 0 30px;
}

@media screen and (max-width: 900px) {
  .hero_banner.about_page {
    align-items: center;
  }
}

.hero_banner.about_page .inner_box {
  max-width: 500px;
}

.News_post h2, .News_post h5, .News_post h4 {
  font-weight: normal;
  margin: 0;
}

.News_post button {
  background: #00746B;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
}

.News_post button:hover {
  background: #01b9aa;
}

.hero_banner.contact_page {
  background-image: url("../images/web5.jpg");
  height: 80vh;
  padding: 0 30px;
}

.hero_banner.contact_page form {
  width: 600px;
}

@media screen and (max-width: 1000px) {
  .hero_banner.contact_page form {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .hero_banner.contact_page form {
    width: 100%;
    max-width: 350px;
  }
}

.hero_banner.contact_page form input, .hero_banner.contact_page form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.425);
  padding: 10px;
  outline: none;
}

@media screen and (max-width: 1000px) {
  .hero_banner.contact_page form input, .hero_banner.contact_page form textarea {
    padding: 5px;
  }
}

.hero_banner.contact_page form input::placeholder, .hero_banner.contact_page form textarea::placeholder {
  color: rgba(0, 0, 0, 0.74);
}

@media screen and (max-width: 1000px) {
  .hero_banner.contact_page form textarea {
    height: 10vh;
  }
}

.hero_banner.contact_page form input {
  margin-top: 15px;
}

.hero_banner.contact_page form input:nth-child(1) {
  margin-top: 0;
}

.hero_banner.contact_page form button {
  background: #00746B;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
}

.hero_banner.contact_page form button:hover {
  background: #01b9aa;
}
/*# sourceMappingURL=style.css.map */